In [2]:
import pandas as pd
import numpy as np

### Series

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,
     'b':20,
     'c':30
    }

In [9]:
df = pd.Series(data=my_data,index=labels)
df

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
s1 = pd.Series([1,2,3,4],['basha','far','kha','sheriff'])
s1

basha      1
far        2
kha        3
sheriff    4
dtype: int64

In [14]:
s1 = pd.Series([1,2,5,4],['basha','far','khadhar','sheriff'])
s1

basha      1
far        2
khadhar    5
sheriff    4
dtype: int64

In [15]:
s1['basha']

1

In [16]:
s1[1]

2